@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Inter-Regular.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Inter-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Inter-Bold.ttf") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Inter-Black";
    font-style: normal;
    font-weight: 900;
    src: url("fonts/Inter-Black.ttf") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter";
    font-size: 16px;
    line-height: 22px;
    background-color: #FCFCFC;
    color: #565C66;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.button {    
    font-family: "Inter-Bold";
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #2D3440;
    background-color: #FCFCFC;
    text-decoration: none;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
}
.page-header {
    color: #2D3440;
    background: #FEAFC3;
}
.navigation {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}
.navigation-logo {
    margin-top: 24px;
    display: flex;
    width: 137px;
}
.navigation-list {
    margin: 0;
    padding: 0;
    width: 400px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 42px;
}
.navigation-link {
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #2D3440;
    
}
.navigation-user {
    max-width: 420px;
    margin-left: auto;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    margin: 42px;
    margin-left: auto;
    flex-wrap: wrap;
}
.navigation-user .navigation-link {
    min-width: 15px;
    min-height: 15px;
}
.navigation-link-active {
    background: #FF4A78;
    color: #FCFCFC;
}
.navigation-item {
    margin: 16px;
}
.contacs-phone {
    font-family: "Inter-Bold";
    line-height: 20px;
    text-decoration: none;
    color: #2D3440;
}
.main-container {
    flex-grow: 1;
    padding-top: 21px;
    padding-bottom: 48px;
}
.main-index {
    background-image: url("img/pink-fon.png");
    color: #2D3440;
    background-color: #FFFFFF;
    background-size: 100% auto;
    background-repeat: repeat;
}
.main-inner {
    color: #2D3440;
    background: #FEAFC3;
    padding-bottom: 40px;
}
.page-container {
    width: 1170px;
    margin: 0 auto;
}
.slider {
    display: flex;
}
.products {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.products-item-main {
    width: 818px;
    display: flex;
    flex-direction: column;
}
.products-item {
    width: 100px;
    padding: 20px;
}

.slider-name {
    font-family: "Inter-Black";
    line-height: 46px;
    font-weight: 900;
    font-size: 36px;
    text-decoration: none;
    width: 470px;
}
.slider-description {
    line-height: 24px;
    font-size: 18px;
    text-decoration: none;
    width: 414px;
}
.button-order {
    color: #2D3440;
    background: #FCFCFC;
    font-family: "Inter-Bold";
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 139px;
}
.slider-image {
    width: 348px;
}
.slider-pagination {
    list-style-type: none;
}
.social-list {
    list-style-type: none;
}
.banner-name-gift {
    font-family: "Inter-Black";
    line-height: 46px;
    font-size: 32px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 443px;
    margin-top: 80px;
}
.gifts {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}
.first-gift {
    width: 570px;
    padding-left: 40px;
    background: #FF7799;
}
.second-gift {
    width: 570px;
    padding-left: 40px;
    background: #FF7799;
    margin-left: 30px;
}
.gift-name {
    font-family: "Inter-Bold";
    line-height: 30px;
    font-size: 24px;
    text-decoration: none;
}
.first-gift-description {
    width: 321px;
}
.second-gift-description {
    width: 294px;
}
.gift-button {
    color: #2D3440;
    background: #FCFCFC;
    font-family: "Inter-Bold";
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.banner-name-product {
    font-family: "Inter-Black";
    line-height: 46px;
    font-size: 32px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 527px;
    margin-top: 80px;
    margin-bottom: 56px;
}
.product-list {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-template-columns: 270px 270px 270px 270px;
    gap: 40px 30px;
    margin-bottom: 16px;
}
.product-card {
    background: #FCFCFC;
    width: 270px;
    display: grid;
    grid-template-rows: 168px min-content min-content auto auto 28px;
    grid-template-columns: 40px 85px 32px 40px;
}

.product-card-description,
.product-card-link,
.product-card-item {
  grid-column: 2 / 4;
  min-width: 190px;
}
.product-card-item {
    font-family: "Inter-Bold";
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    color: #2D3440;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 8px;
}   
.product-card-description {
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    color: #565C66;
    margin-bottom: 20px;
}
.product-card-price {
    font-family: "Inter-Bold";
    line-height: 24px;
    font-size: 20px;
    grid-column: 2 / 3;
}
.product-card-button {
    grid-column: 3 / 4;
    margin-left: 70px;
}
.product-card-image {
    margin: 0 auto;
}
.advantages {
    background-image: url("img/advantages-fon.png");
    color: #565C66;
    background-size: 100% auto;
    margin-top: 80px;
}
.advantage-name {
    font-family: "Inter-Black";
    line-height: 46px;
    font-size: 32px; 
    color: #2D3440;
    text-align: center;
    width: 995px;
    margin: 0 auto;
    padding-top: 80px;
}
.advantages-list {
    line-height: 22px;
    font-size: 16px; 
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    
}
.advantages-item {
    width: 440px;
    padding: 20px;
}
a {
    text-decoration: none;
}
.news-subscription {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin-top: 80px;
}
.news {
    background-image: url("img/news-fon.png");
    color: #2D3440;
    font-family: "Inter-Bold";
    font-size: 24px;
    line-height: 30px;
    width: 570px;
}
.news-name {
    font-size: 16px;
    line-height: 20px;
    color: #565C66;
    margin-left: 30px;
    margin-top: 33px;
}
.news-example {
    font-family: "Inter-Bold";
    color: #2D3440;
    width: 64px;
    margin-left: 30px;
}
.subscription {
    background-image: url("img/mail-fon.png");
    color: #565C66;
    width: 570px;
}
.subscription-text {
    margin: 26px;
}
.subscription-decription {
    width: 506px;
}
.button-to-send {
    font-family: "Inter-Bold";
    background: #FF2F64;
    color: #FCFCFC;
}
.delivery {
    background-image: url("img/delivery-fon.png");
    display: flex;
    margin-top: 76px;
}
.delivery-text {
    margin-left: 100px;
    margin-bottom: 163px;
    margin-right: 71px;
}
.delivery-banner-name {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    color: #2D3440;
    width: 356px;
    font-family: "Inter-Black";
    margin-top: 167px;
}
.delivery-description {
    width: 371px;
}
.form-delivery {
    width: 500px;
    margin-left: auto;
    background-color: #FCFCFC;
    margin: 63px;
}
.appointment-form {
    font-family: "Inter-Bold";
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 20px;
    margin-left: 40px;
}
.field-group {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.appointment-form .info {
    display: none;
}
.delivery-form {
    margin-left: 40px;
    margin-top: 40px;
}
.appointment-form-element {
    font-family: "Inter-Bold";
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
}
.appointment-form-address 
{
    grid-column: 1 / -1;
}
.appointment-button {
    grid-column: 1 / -1;
  justify-self: center;
}
.contacts {
    background-image: url("img/address.png");
    margin-top: 80px;
    padding: 64px;
}
.contacts-text {
    background-color: #FCFCFC;
    width: 303px;
    padding: 40px;
}
.contacts-name {
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    width: 179px;
}
.contacts-address {
    font-style: normal;
    font-family: "Inter-Bold";
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    width: 263px;
}
.contacts-phone-name {
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
}
.contacts-phone {
    font-family: "Inter-Bold";
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}
.contacts-phone-time {
    font-size: 14px;
    line-height: 20px;
}
.button-feedback {
    background: #FF2F64;
    color: #FCFCFC; 
}   
.page-footer {
    font-size: 14px;
    color: #2D3440;
    background-color: #FEAFC3;
    display: flex;
  }
.page-footer-container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
  }
.footer-social-list {
    width: 104px;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}
.footer-menu {
    width: 360px;
    margin-left: 300px;
    
}
.footer-menu-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
  .footer-menu-link {
    color: #2D3440;
  }
.footer-menu-link-bold {
    font-family: "Inter-Bold";
    color: #2D3440;
}
.made-in {
    font-size: 12px;
    line-height: 16px;
}
.about {
    margin-left: auto;
    max-width: 190px;
    display: flex;
    flex-wrap: wrap;
}
.about-text {
    font-size: 12px;
    line-height: 16px;
    color: #2D3440;
}
.inner-header-title {
    font-size: 16px;
    line-height: 20px;
}
.page-name {
    font-family: "Inter-Black";
    font-size: 32px;
    line-height: 46px;
}
.button-catalog {
    font-family: "Inter-Bold";
    background: #FCFCFC;
    opacity: 0.3;
}
.breadcrumbs {
    color: #2D3440;
    font-family: "Inter-Bold";
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.breadcrumbs-link-underlined {
    color: inherit;
    text-decoration: underline;
  }
.breadcrumbs-link {
    color: inherit;
  }
.filter-sort {
    width: 807px;
    display: grid;
    grid-template-columns: 196px 196px 367px;
    gap: 24px;
}    
.catalog-filter,
.catalog-filter-filler {
    grid-column: 1 / 2;
}
.catalog-filter-price {
    grid-column: 2 / 3;
}
.catalog-filter-richness {
    grid-column: 3 / 4;
    justify-self: start;
}
.catalog-filter-title {
    font-size: 14px;
    line-height: 20px;
}
.control {
    background: #FCFCFC;
    opacity: 0.3;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
  }
.button-catalog {
    color: #2D3440;
    font-family: "Inter-Bold";
    font-size: 14px;
    line-height: 20px;
    background: rgba(252, 252, 252, 0.3);
}
.button-pagination {
    margin-top: 16px;
    display: flex;
    padding: 41px;
}
.button-pagination-show-more {
    background: #FCFCFC;
    font-family: "Inter-Bold";
    font-size: 16px;
    line-height: 20px;
}
.pagination {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-end;
}
.pagination-item {
    margin-right: 16px;
}
.pagination-link {
    color: #2D3440;
    font-size: 16px;
    line-height: 20px;
}
.pagination-current {
    background: #FCFCFC;
}